{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - AI Image Style Transfer</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.cdnfonts.com/css/open-sauce-one" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div class="logo">
      <a href="{% url 'index' %}">Dream Render</a>
    </div>
    <div class="nav-links">
      <a href="{% url 'index' %}">Inspiration</a>
      <a href="{% url 'create' %}">My Gallery</a>
      <a href="{% url 'create' %}">Login</a>
      <a href="{% url 'about' %}">About Us</a>
    </div>
  </nav>

  <div class="content">
    <div class="text-block">
      <h1>AI-powered art,</h1>
      <h2>made by you.</h2>
    </div>
    <!-- Replace all href="./create.html" with -->
    <a href="{% url 'create' %}" class="start-btn">CREATE NOW</a>
  </div>

</body>
</html>
