/* =============================================
   Customization Panel
============================================= */
.customize-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background: #0f112d;
}

.customize-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel-header {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.section p {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 10px;
}

// .slider-group {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .slider-group input[type="range"] {
//   flex: 1;
// }

// .slider-group input[type="number"] {
//   width: 50px;
//   background: #1a1d3c;
//   color: white;
//   border: 1px solid #444;
//   border-radius: 4px;
//   padding: 4px;
//   text-align: center;
// }

.custom-dropdown {
  position: relative;
  width: 100%;
  user-select: none;
  background: #1a1d3c;
  border: 1px solid #2e314e;
  border-radius: 10px;
  font-size: 0.95rem;
  color: #f1f1f1;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
    box-shadow: 0 0 0 2px #4f9dfb;

    .dropdown-icon {
      opacity: 1;
      filter: drop-shadow(0 0 1px #fff) brightness(1.4);
    }
  }

  .dropdown-selected {
    padding: 10px 12px;
    border-radius: 10px;
  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
    pointer-events: none;
    opacity: 0.7;
  }

}

.dropdown-options {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  overflow-anchor: none; // prevent scrollbar for appearing slightly when collapsing
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #1a1d3c;
  border: 1px solid #2e314e;
  border-top: none;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  opacity: 0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4f9dfb;
    border-radius: 3px;
  }

  .dropdown-option {
    padding: 10px 12px;
    transition: background 0.2s ease;
    cursor: pointer;

    &.selected {
      background: #4f9dfb;
      color: #fff;
    }

    &:hover {
      &.selected {
        background: #4f9dfb;
        color: #fff;
      }
      
      background: #a1c9fac0;
      color: #fff;
    }
  }
}

.custom-dropdown.open .dropdown-options {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

.custom-dropdown.open .dropdown-icon {
  transform: translateY(-50%) rotate(-90deg);
  transition: transform 0.1s ease;
}
