/* =============================================
   Generated Result Display
============================================= */
.result-container {
  display: none;
  flex-direction: column;
  width: 60%;
  height: 50%;
  background: linear-gradient(135deg, #111831, #1a2543);
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
  animation: fadeIn 0.6s ease-in-out;
}
.result-container:hover {
  transform: translateY(-3px);
}
.result-container .result-title {
  font-weight: bold;
  font-size: 160%;
  margin-bottom: 3%;
  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
}
.result-container .result-area {
  display: flex;
  position: relative;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 2px dashed #3a85e2;
  background-color: rgba(53, 115, 153, 0.4274509804);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  cursor: pointer;
}
.result-container .result-area img {
  display: hidden;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.shift-up {
  transform: translateY(-50px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}