/* =============================================
   Sidebar
============================================= */
.sidebar {
  width: 220px;
  background-color: #062042;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 2rem;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s;
}

.nav-links a:hover,
.nav-links a.active {
  background: #103b71;
}

.logout {
  background: #3f5165;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
