/* =============================================
   Global Reset
============================================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #01030f, #030c2d);
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}